.section-experience {
  height: 80vh;
  background: linear-gradient(to bottom, $color-accent, $color-tertiary);
  text-align: center;
  padding: 4rem;

  @include respond(tab-port) {
    height: 64vh;
  }

  @include respond(phone) {
    height: 52vh;
  }
}

.nav-tabs-container {
  display: flex;
  align-items: flex-start;
  /* justify-content: left; */
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

#myTab {
  margin-bottom: 1rem;
}

#myTabContent {
  color: $color-primary;
  background-color: rgba(136, 146, 176, 0.25);
  padding: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nav-item button:hover {
  background-color: #bbb;
}

.nav-tabs .nav-link {
  border-radius: 25px 25px 0 0 !important;
  padding: 1rem 2rem;
  font-weight: 900;
}

.nav-tabs .nav-link.active {
  color: white !important;
  background-color: $color-primary !important;
  /* border-color: #dee2e6 #dee2e6 #fff; */
}

.nav-tabs .nav-link {
  color: $color-grey-dark !important;
  background-color: $color-accent !important;
  /* border-color: #dee2e6 #dee2e6 #fff; */
}
