.u-text-color-primary {
  color: #580241;
}

.u-text-color-secondary {
  color: #ad8cc6;
}

.u-text-color-tertiary {
  color: #9dc8e2;
}

.u-heading-secondary {
  color: $color-grey-dark;
  margin-bottom: 4rem;
}
