$color-primary-light: #BC459C;
$color-primary: #580241;
$color-primary-dark: #3C002C;

$color-secondary-light: #D3BAE6;
$color-secondary: #ad8cc6;
$color-secondary-dark: #724395;

$color-tertiary-light: #DAF1FF;
$color-tertiary: #9dc8e2;
$color-tertiary-dark: #377EA9;

$color-accent-light: #FFF0F0;
$color-accent: #dbdbdb;
$color-accent-dark: #AB8181;

$color-white: #fff;
$color-silver: #c0c0c0;

$color-grey-light: #C6D0EF;
$color-grey: #8892b0;
$color-grey-dark: #2B3962;
