.section-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: linear-gradient(to bottom, $color-tertiary, $color-secondary);
  color: $color-primary;
}
